# Game Folders
FreeTP/
Lethal Company_Data/*
MonoBleedingEdge/

# Game Files
Lethal Company.exe
nvngx_dlss.dll
NVUnityPlugin.dll
UnityCrashHandler64.exe
UnityPlayer.dll

# Online Fix
FreeTP.Org.url
ReadMe - как играть по сети.url
favicon.ico
!Lethal Company_Data/Plugins/x86_64/steam_api64.dll
!SteamFix.ini
!SteamFix64.dll
!winmm.dll
!winmm.txt
!SteamOverlay64.dll